<form class="signup-form w3-center">
   <div>
      <label for="username-signup">username:</label>
      <input class="w3-input" type="text" id="username-signup" />
   </div>
   <div>
      <label for="email-signup">email:</label>
      <input class="w3-input" type="text" id="email-signup" />
   </div>
   <div>
      <label for="password-signup">password:</label>
      <input class="w3-input" type="password" id="password-signup" />
   </div>
   <div>
      <button type="submit">signup</button>
   </div>
</form>
<script src="/javascript/sign-up.js"></script>